.col-md-2.col-sm-2.hidden-xs.side1
    ul.nav.nav-tabs.nav-stacked
        li.active
            a(data-toggle='tab', href='#admindash1')
                span.glyphicon.glyphicon-tasks
                | Dashboard
        li
            a(data-toggle='tab', href='#admindash2')
                span.glyphicon.glyphicon-pencil
                | Books
        //li
            a(data-toggle='tab', href='#admindash3')
                span.glyphicon.glyphicon-home
                | Reporting
        //li
            a(data-toggle='tab', href='#admindash4')
                span.glyphicon.glyphicon-envelope
                | Inbox
        li
            a(data-toggle='tab', href='#admindash5')
                span.glyphicon.glyphicon-user
                | Users
//
  col-md-2 hidden-xs
.col-md-1.col-sm-1.col-xs-1.visible-xs.side2
    ul.nav.nav-tabs.nav-stacked
        li.active
            a(data-toggle='tab', href='#admindash1')
                span.glyphicon.glyphicon-tasks
        li
            a(data-toggle='tab', href='#admindash2')
                span.glyphicon.glyphicon-pencil
        //li
            a(data-toggle='tab', href='#admindash3')
                span.glyphicon.glyphicon-home
        //li
            a(data-toggle='tab', href='#admindash4')
                span.glyphicon.glyphicon-envelope
        li
            a(data-toggle='tab', href='#admindash5')
                span.glyphicon.glyphicon-user