include ./header
link(href='/css/BookB-style-Copy2.css', rel='stylesheet')
title BookBanyan | Confirmation
section.confirmation
  .container
    .row
      .col-md-10.col-md-offset-1
        .jumbotron.text-center
          span.icon-happy
          p Successfully submitted!
          h6.thankyou
            | Thank you for choosing
            strong.text-info Book Banyan
          p.thankyou We will get back to you soon.
section.footer
  .container
    .row
      .col-md-8.col-sm-8
        ul.footer-nav.pull-left
          li
            a(href='#') About BookBanyan
          li
            a(href='#') Team
          li
            a(href='#') Blog
          li
            a.active(href='#') Pricing
          li
            a(href='#') Terms & Conditions
          li
            a(href='#') Contact Us
      .col-md-4.copyright
        p.pull-right Copyright © 2014 BookBanyan