section.footer
    .container
        .row
            .col-md-8.col-sm-8
                ul.footer-nav.pull-left
                    li
                        a(href='#') About BookBanyan
                    li
                        a(href='#') Team
                    li
                        a(href='#') Blog
                    li
                        a.active(href='#') Pricing
                    li
                        a(href='#') Terms & Conditions
                    li
                        a(href='#') Contact Us
            .col-md-4.copyright
                p.pull-right Copyright © 2014 BookBanyan