extends headerAndStyle
block content
    title Congrats! Manuscript successfully submitted
    h3 Your manuscript has been successfully submitted
    p We confirm the receipt of your submission. The submission is complete with all required elements.
    p We are forwarding your submission to the Fiction editorial head of Bookbanyan, Mr. Sandeep Kumar, he will take discussions further with you post complete evaluation of your work.
    p You may expect the senior evaluator to get back to you within 15 working days  or earlier.
    ul
        li Incase of any delay or lapse please feel free to write back to the senior evaluator with a reminder at bookbanyanpublications@gmail.com
        li This e-mail is only a confirmation of your completed submission and cannot be treated as a selection by the company. The decision of senior evaluator will be final.
    p Regards,
    p Bookbanyan Submissions Team
    hr