extends headerAndStyle
block content
    title Congrats! Manuscript successfully submitted
    h3 Your manuscript has been successfully submitted
    p
        | We will get back to soon with our feedback.
    hr